.log{
    /* width: 100vw; */
    width: fit-content;
}

#contact {
    height: 30px;
    padding: 10px;
}

#legal {
    height: 30px;
    padding: 10px;
}

#nav {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    margin-top: 10px;
    padding-left: 3ex;
    width: 170ex;
    justify-content: space-between;
}
#leftnav {
    /* width: 50%; */
    width: 15ex;
}

#rightnav {
    /* width: 50%; */
    /* width: 15ex; */
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 15px;

}

#bdy {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-right: 0;
    padding-right: 0;
}

#form {
    padding-left: 30px;
    margin-right: 45ex;
    width: 50ex;

}

#lg {

    width:min-content;
    
}
#SAlogo {
    width: 60ex;
    /* height: 80%; */
    /* padding-left: 100px; */
    height: 70ex;
    justify-content: center;
    margin-right: 0;
    padding-right: 0;
}

#check {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#radio1 {
    width: 50%;

}

#radio2 {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.inbox {
    width: 100%;
    height: 30px;
    border-radius: 1.5ex;
}

#SAlogo {
    width: 60ex;
    /* height: 80%; */
    /* padding-left: 100px; */
    height: 70ex;
    justify-content: center;
    margin-right: 0;
    padding-right: 0;
}

#check {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#radio1 {
    width: 50%;

}

#radio2 {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.inbox {
    width: 100%;
    height: 30px;
    border-radius: 1.5ex;
}

/* #pswd{
     background: url("./view.png") no-repeat right;  
     background-size: 3ex; 
     background-position: 99%; 
        
} */

#email{
    background: url("./human.png") no-repeat;
    background-size: 3ex;
    background-position: 99%;
}

.adjust {
    margin-bottom: 2px;

}

#signInbtn {

    width: 100%;
    height: 35px;
    background-color:#2f1263 ;
    color: white;
    border-radius:2em ;
}

#snBtn {
    margin-top: 40px;
    width: 100%;
}

#footer {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#remember {
    width: 20ex;
}

#help {
    width: 11ex;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

#help a{
    color:black;
}

#lastLine {
    margin-top: 35px;
    padding-top: 35px;
    width: 40ex;
}

#lastLine a{
    color: #2f1263;
    font-weight: bold;
}

#snup{
    width:150px;
    height: 30px;
    background-color: #2f1263;
    border-radius:2em;
    margin-right:50px; 
}

@media (max-width:1023px) {
    #form {
        padding-left: 30px;
        margin-right: 10ex;
        width: 50ex;
    
    }

    #bdy {
        flex-direction:column-reverse;
    }

    #footer{
        flex-direction: column;
    }

    #nav{
        width: 50ex;
    }

    #SAlogo {
        width: 40ex;
        /* height: 80%; */
        /* padding-left: 100px; */
        height: 45ex;
        padding-left:12ex;
    }
}

@media (min-width:541px) and (max-width:1022px){

    .log{
         margin-left:10em;
}
}